html, 
body{
  padding: 0%;
  width: 100%;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  
}

.container {
  margin: 55px auto 0 auto;
  /*max-width: 1200px;*/

  padding: 0;
  align-items: stretch;
  display: flex;

  flex-wrap: nowrap;
}

.nav-container {
  margin: auto;
}

.welcome {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%
}

h1 {
  font-size: 50px;
}

.big{
  transform: scale(2);
}

.notFound {
  margin: auto;
  align-content: center;
  padding: 5%;
}

.goHome {
  justify-content: center;
  font-size: 1.5rem;
}

.pointA{
  cursor: pointer;
}

.closeButton {
  position: 'absolute';
  left: 85%;
  top: 5%;

}

.listItemText{
  font-size: 1.1rem
}

.closeButtonLeft{
  position: 'absolute';
  width: 40px;
  left: 0.5%;
  top: 10px;
}




